h1 {
    color: white;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}
div {
    text-align: center;
}

a {
    color: #0d1b2a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }


    .grid-item {
      font-size: 3rem;
      background-color: rgba(129, 120, 107, 0.319);
      border: 5px solid #0d1b2a;
      border-radius: 20px;
      color:#0d1b2a;
      overflow: hidden;
    }

    .grid-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .grid-item .label {
        font-size: 20px;
        font-weight: 550;
        text-align: center;
        min-height: 40px;
        padding-top: 15px;
    }

header {
    position: sticky;
    top: 0;
    background-color: #0d1b2a;
    text-align: center;
    padding:5px;

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

@media (max-width: 900px) {
    header {
        position: static !important;
    }
    }

@media (max-width: 600px) {
   .grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      gap: 32px;
    }
}

.grid-item {
        font-size: 2rem;
    }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
    nav a {
        margin: 0 10px;
        text-decoration: none;
        color: white;
    }

footer {
    text-align: left;
    padding: 10px;
    background-color: #0d1b2a;
    margin-top: 20px;
    color:white
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hidden {
  display: none;
}

nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));

    background: #13273A;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    gap: 20px;
}

.menu-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}

.SearchBar {
  display: flex;
  align-items: center;
  gap: 10px;
}

#searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display:none;
}

.search-icon {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1rem;
}

:root {
    --header-height: 120px;
}
